
# Verification Status

## Structure

`VerificationStatus`

## Fields

| Name | Type | Tags | Description |
|  --- | --- | --- | --- |
| `State` | [`Models.VerificationStateEnum?`](../../doc/models/verification-state-enum.md) | Optional | - |
| `Description` | `string` | Optional | - |
| `RequiredActions` | [`List<Models.VerificationAction>`](../../doc/models/verification-action.md) | Optional | - |
| `History` | [`List<Models.VerificationStatusHistory>`](../../doc/models/verification-status-history.md) | Optional | - |

## Example (as JSON)

```json
{
  "state": null,
  "description": null,
  "requiredActions": null,
  "history": null
}
```

